.wrap {
  margin: auto;
  width: 320px;
  font-family: Roboto;
  font-size: 20px;
  background: #f9fafe;
  padding: 20px;
  border-radius: 10px;
  font-family: Helvetica;
}

.title {
  color: #4046b9;
}

.but {
  float: right;
}


.footer {
  color: grey;
}

.wrap  ul {
  list-style-type: none;
  padding-left: 0;
}

.wrap li {
  background: #fff;
  margin: 12px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(221, 221, 221, 1);
}

.wrap a {
  text-decoration: none;
  color: #4046b9;
  font: 700 18px/10px Helvetica;
}

.item {
  color: black;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
}

.delete {
  float: right;
  padding-right: 5px;
}

.sidebar {
  margin: auto;
  width: 320px;
  font-size: 20px;
  background: #f9fafe;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: #4046b9;
  font: 700 18px/10px Helvetica;
  margin: 5px;
}

.content {
  margin: auto;
	width: 400px;

}
