.wrap {
  margin: auto;
  width: 420px;
  font-family: Roboto;
  font-size: 20px;
  background: #f9fafe;
  padding: 20px;
  border-radius: 10px;
  font-family: Helvetica;
}

.title {
  color: #4046b9;
}

.but {
  height: 50px;
}


.footer {
  color: grey;
  text-align: center;
}

.wrap  ul {
  list-style-type: none;
  padding-left: 0;
}

.wrap li {
  background: #fff;
  margin: 12px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(221, 221, 221, 1);
}

.wrap a {
  text-decoration: none;
  color: #4046b9;
  font: 700 18px/10px Helvetica;
}

.item {
  color: black;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
}

.delete {
  float: right;
  padding-right: 5px;
}

.sidebar {
  margin: auto;
  width: 420px;
  font-size: 20px;
  background: #f9fafe;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: #4046b9;
  font: 700 18px/10px Helvetica;
  margin: 5px;
}

.about_img {
  width: 160px;
  border-radius: 100px;
  border: 3px solid white;
}

.about_repo {
  background: #fff;
  margin: 12px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(221, 221, 221, 1);
}

.about_repo a {
  font-size: 22px;
}

.about_repo p {
  color: lightgrey;
}

.me {
  float: right;
  padding: 10px;
  font-size: 18px;
}

.content {
  margin: auto;
  width: 400px;
}

.contacts img {
  width: 20px;
  padding: 5px;
  vertical-align: middle;
}



